{
	"current_shifts": ["7-15:30 M-F", "11-19:30 M-F", "7-17:30 Su-W", "11-21:30 Su-W", "21-7:30 Su-W", "7-17:30 W-Sa", "11-21:30 W-Sa", "21-7:30 W-Sa"],
	"shifts": {
		"7-15:30 M-F": {
			"analysts": [{"mschiff":"Matt Schiff"}, {"analyst2": "Second Analyst"}],
			"team_leads": [{"jquick": "Jon Quick"}, {"teamlead2": "Second Team Lead"}],
			"start_time": "11:00:00+00:00",
			"end_time": "19:30+00:00"
		},
		"11-19:30 M-F": {
			"analysts": [],
			"team_leads": [],
			"start_time": "15:00:00+00:00",
			"end_time": "23:30+00:00"
		},
		"7-17:30 Su-W": {
			"analysts": [],
			"team_leads": [],
			"start_time": "11:00:00+00:00",
			"end_time": "21:30+00:00"
		},
		"11-21:30 Su-W": {
			"analysts": [],
			"team_leads": [],
			"start_time": "15:00:00+00:00",
			"end_time": "01:30+00:00"
		},
		"21-7:30 Su-W": {
			"analysts": [],
			"team_leads": [],
			"start_time": "01:00:00+00:00",
			"end_time": "11:30+00:00"
		},
		"7-17:30 W-Sa": {
			"analysts": [],
			"team_leads": [],
			"start_time": "11:00:00+00:00",
			"end_time": "21:30+00:00"
		},
		"11-21:30 W-Sa": {
			"analysts": [],
			"team_leads": [],
			"start_time": "15:00:00+00:00",
			"end_time": "01:30+00:00"
		},
		"21-7:30 W-Sa": {
			"analysts": [],
			"team_leads": [],
			"start_time": "01:00:00+00:00",
			"end_time": "11:30+00:00"
		}
	},
	"assignments": {
		"All": ["centralus", "eastus", "eastus2", "azwu3-prd04", "azwu3-prd05", "azcu-prd06", "azcu-prd08", "azcu-prd09"],
		"Monday": ["azwu3-prd04", "francecentral", "azfrc-prd03"],
		"Tuesday": ["azwu3-prd04", "francecentral", "azfrc-prd03"],
		"Wednesday": ["azwu3-prd04"],
		"Thursday": ["azwu3-prd04", "australiaeast"],
		"Friday": ["azwu3-prd04", "australiaeast"],
		"Saturday": [],
		"Sunday": []
	},
	"log_level": 0
}